.logo {
    color: blue
}

.nav-list {
    color: #2E2F42;
}

.nav-link {
    color: #434455;
}

.hero-section {
    background-color: #fff;
    /* TODO changes background color */
}

.hero-title {
    color: #FFF;
}

.hero-button {
    color: #FFF;
    background: #4D5AE5;
}

.soft-skils {
    color: #2E2F42;
}

.soft-skils-information {
    color: #434455;
}



color: var(--NAVY-BLUE, #2E2F42);