.body {
    font-family: "Roboto" sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

button {
    font-family: inherit;
}

.logo {
    font-family: Raleway;
    text-decoration: none;
    color: blue
}

.accent-logo {
    font-family: Raleway;
}

.nav-list {
    color: #2E2F42;
}

.nav-link {
    color: #434455;
}

/* Hero section */
.hero-section {
    background-color: #fff;
    /* TODO changes background color */
}

.hero-title {
    color: #FFF;
}

.hero-button {
    color: #FFF;
    background: #4D5AE5;
}

/* Soft Skils section */
.soft-skils {
    color: #2E2F42;
}

.soft-skils-information {
    color: #434455;
}

/* Our team section */
.our-team {
    color: #2E2F42;
}

.employee-names {
    color: var #2E2F42;
}

.job-title {
    color: #434455;
}

/* Our Portfolio section */
.our-portfolio {
    color: #2E2F42;
}

.Our-portfolio-options {
    color: #2E2F42;
}

.Our-portfolio-occupation {
    color: #434455;
}

.footer-title {
    color: #4D5AE5;
    color: #F4F4FD;
}

.footer-description {
    color: #F4F4FD;
}