body {
    color: #434455;
    background-color: ffffff;
    font-family: "Raleway" sans-serif;
    font-family: "Roboto" sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

button {
    font-family: inherit;
}

.logo {
    color: var(--NAVY-BLUE, #2E2F42);
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 21px;
    /* 116.667% */
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

.accent-logo {
    color: var(--NAVY-BLUE, #2E2F42);
}


.nav-list {
    color: var(--NAVY-BLUE, #2E2F42);
    /* Body Medium */
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    /* 150% */
    letter-spacing: 0.32px;
}

.nav-link {
    color: var(--SLATE, #434455);
    /* Body */
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
    letter-spacing: 0.32px;
}


/* Hero section */
.hero-section {
    background-color: #fff;
    /* TODO changes background color */
}

.hero-title {
    color: #FFF;
}

.hero-button {
    color: #FFF;
    background: #4D5AE5;
}

/* Soft Skils section */
.soft-skils {
    color: #2E2F42;
}

.soft-skils-information {
    color: #434455;
}

/* Our team section */
.our-team {
    color: #2E2F42;
}

.employee-names {
    color: var #2E2F42;
}

.job-title {
    color: #434455;
}

/* Our Portfolio section */
.our-portfolio {
    color: #2E2F42;
}

.Our-portfolio-options {
    color: #2E2F42;
}

.Our-portfolio-occupation {
    color: #434455;
}

.footer-title {
    color: #4D5AE5;
    color: #F4F4FD;
}

.footer-description {
    color: #F4F4FD;
}